.navbar-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
}

.expanded {
  display: none;
  margin-right: 70px;
  margin-top: 7px;
}

.hamburger-icon {
  display: flex;
  padding-right: 40px;
  z-index: 100;
}

.hamburger-icon.show-hamburger .icon-open {
  display: none;
}

.hamburger-icon .icon-close {
  display: none;
}

.hamburger-icon.show-hamburger .icon-close {
  display: block;
}

.hamburger-wrap {
  display: none;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 15px;
  justify-content: end;
  font-size: 18px;
}

.hamburger-wrap.show-hamburger .hamburger-menu .navbar-item {
  padding-bottom: 20px;
}

.hamburger-wrap.show-hamburger .hamburger-menu .navbar-button {
  padding-top: 20px;
}


.show-hamburger {
  display: flex;
}

.navbar-item:hover {
  color: var(--pink);
  transition: 0.3s;
}

.navbar-item {
  transition: 0.3s;
  color: var(--lightest-slate);
  text-transform: uppercase;
}

.navbar-button, .navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-button button {
  text-transform: uppercase;
}

.hamburger-menu {
  width: min(75vw, 500px);
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -10px 0px 100px 0px var(--navy-shadow);
}

.hamburger-menu .navbar-button {
  font-size: var(--large-font);
  padding: 0 clamp(5px, 20vw, 120px);
}

.hamburger-menu .navbar-button .btn {
  padding: 15px 20px;
}

/* Desktop styles */
@media (min-width: 850px) {
  .expanded {
    display: flex;
  }

  .hamburger, .hamburger-icon, .hamburger-wrap {
    display: none;
  }

  .navbar-item {
    margin-right: 40px;
    font-size: var(--medium-font);
  }

  .navbar-button {
    font-size: var(--medium-font);
  }
  .navbar-button .btn {
    padding: 10px 30px;
  }
}
